<form action="<%= action_url %>" method="post">

  <%= authenticity_token %>

  <% if patch %>
    <input type="hidden" name="_method" value="PATCH">
  <% end %>

  <label>Album</label>
  <select name="track[album_id]">
    <% Album.all.each do |album| %>
    <option value="<%= album.id %>" <%= "selected" if @album == album %>>
      <%= album.name %>
    </option>
    <% end %>
  </select>

  <label>Name</label>
  <input type="text" name="track[name]" value="<%= track.name %>">

  <label>Number</label>
  <input type="text" name="track[number]" value="<%= track.number %>">

  <label>Bonus Track?</label>
  <input type="checkbox" name="track[bonus]" value="true"></input>

  <label>Lyrics</label>
  <textarea name="track[lyrics]"><%= track.lyrics %></textarea>

  <button>Submit</button>
</form>
