<form class="input-form" action="<%= action_url %>" method="post">

  <%= authenticity_token %>

  <% if patch %>
    <input type="hidden" name="_method" value="PATCH">
  <% end %>

  <div>
    <label>Album</label>
    <select name="track[album_id]">
      <% Album.all.each do |album| %>
      <option value="<%= album.id %>" <%= "selected" if @album == album %>>
        <%= album.name %>
      </option>
      <% end %>
    </select>
  </div>

  <div>
    <label>Name</label>
    <input type="text" name="track[name]" value="<%= track.name %>">
  </div>

  <div>
    <label>Number</label>
    <input type="text" name="track[number]" value="<%= track.number %>">
  </div>

  <div>
    <label>Bonus Track?</label>
    <input type="checkbox" name="track[bonus]" value="true"></input>
  </div>

  <div>
    <label style="display: block; float: left">Lyrics</label>
    <textarea name="track[lyrics]"><%= track.lyrics %></textarea>
  </div>

  <div>
    <button>Submit</button>
  </div>
</form>
