<div id="navigation">
  <ul id="nav-list">
    <% if logged_in? %>
      <%= nav_item "Browse All Artists", artists_url %>
      <%= nav_item "Your Profile", user_url(current_user) %>
      <li><%= button_to "Logout", logout_url, method: :delete %></li>
    <% else %>
      <%= nav_item "Login", login_url %>
      <%= nav_item "Register", register_url %>
    <% end %>
  </ul>
</div>
